@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
            crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet"
          type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3"
         id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Boots to Books</a>
            <button class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse show" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#donate">Donations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#forum">Questionaire</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#links" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Important Links
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/assets/files/Newsletter-4:22:21.pdf">Latest Project</a>
                            <a class="dropdown-item" href="/assets/files/GI_Bill.pdf">GI PDF</a>
                            <a class="dropdown-item" href="/assets/files/Transition_Part1&2.pdf">Increase Transition Skills</a>
                            <a class="dropdown-item" href="https://www.lodinews.com/news/article_8adcb432-4f20-11eb-a220-97f76253b4d9.html">Lodi News Article</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Boots To Books
                    </h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">
                        Our Mission: Empowering service members and veterans with assistance through
                        every facet of their transition; from college admissions, to
                        employment, to grants.
                    </p>
                    <p class="text-white-75 font-weight-light mb-5">
                        A collective of veterans, college students, graduates, and professionals from various industries coming together to assist those who have served.
                    </p>
                    <hr class="divider my-4" />
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#donate">Donate Today!</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">At Your Service</h2>
            <hr class="divider my-4" />
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Applying to Universities</h3>
                        <p class="text-muted mb-0">
                            We prepared to help with applications, grants and more.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-book-open text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Graduate School Preperation</h3>
                        <p class="text-muted mb-0">
                            Thanks to Magoosh, we can grant access to their prep course.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Tranisiton to Civilian Carrer</h3>
                        <p class="text-muted mb-0">
                            Applying to jobs can be scary, but we have professionals for resume revisions and application help.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Join our Community</h3>
                        <p class="text-muted mb-0">
                            Not sure if we can help you? Reach out! Our servicces are always free for veterans.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Donations -->
    <section class="page-section bg-secondary" id="donate">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Help us make a difference.</h2>
                    <hr class="divider my-4" />
                    <p class="text-white-50 mb-4">
                        Today is the day to make a change. Join the community supporting transitioning veterans and see how your money makes an impact!
                    </p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="https://marinlink.org/donations/?project_name=Boots%20to%20Books">Donations</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio-->
    <div id="portfolio">
        <div class="container-fluid p-2">
            <h2 class="text-center mt-2">Meet the Team</h2>
            <hr class="divider my-2" />
            <div class="row justify-content-center text-center">
                <div class="col-lg-4 col-sm-4">
                    <a class="portfolio-box" href="/assets/img/portfolio/portraits/Pete.png">
                        <img class="img-thumbnail"
                             src="/assets/img/portfolio/portraits/Pete.png"
                             alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">President & Founder</div>
                            <div class="project-name">Peter Cline</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <a class="portfolio-box" href="/assets/img/portfolio/portraits/Aub.jpg">
                        <img class="img-thumbnail"
                             src="/assets/img/portfolio/portraits/Aub.jpg"
                             alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Co-Founder & Chief Technical Officer</div>
                            <div class="project-name">Aubrey Sine</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <a class="portfolio-box" href="/assets/img/portfolio/portraits/Rob.png">
                        <img class="img-thumbnail"
                             src="/assets/img/portfolio/portraits/Rob.png"
                             alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Chief Marketing Officer</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5 ml-4 mr-4">
                        Peter Cline hails from Nicasio, California. He graduated high school in 2017 and joined the Army directly after. In the Army he held a variety of duty positions including: Infantry Team Leader, Stryker Commander, Instructor, Stryker Gunner, and Stryker Driver. Peter earned the rank of Sergeant in two years and three months then proceeded to win the Fort Benning Non-Commissioned Officer of the Year Competition for 2020. Peter was honorably discharged from the Army in October 2020, and admitted into Chapman University, majoring in Economics. 
                    </p>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5 ml-4 mr-4">
                        Aubrey is a senior, Data Analytics major at Chapman University, on the Spring 2020 Provost List (academic honors). Aubrey has extensive experience in making analytic based decisions, having worked as a Software Test Engineer for NXP Semiconductors and Datatel Services. He started as the Chief Technical Officer at Boots to Books and was appointed to Co-Director after being instrumental in the founding and organization of our Non-Profit.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5 ml-4 mr-4">
                        Robert was born in Lodi, California and joined the Army in 2014. Robert was stationed on Fort Lewis, Washington until 2019 then moved to Fort Benning, Georgia. Robert has held various positions including: Infantryman, Indirect Fire Infantryman (Mortarman), Infantry Team Leader, Stryker Commander, Stryker Gunner, M249 Gunner, Grenadier, Platoon Sergeant and is currently a Squad Leader. Robert joined Boots to Books because he hopes to provide a better opportunity for separating soldiers in competitive industries.
                    </p>
                </div>
            </div>
        </div>
        </div>

    <!-- Call to action-->
    <section class="page-section bg-dark text-white" id="forum">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Not sure how we can help?</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">
                        Click the button below to to fill out a quick questionaire. From there, one of our experts will get in touch with you to figure out how we can assist you.
                    </p>
                    <a class="btn btn-light btn-xl"
                       href="https://docs.google.com/forms/d/17gVBCLE-uAsvU1E_tRrjTi7F3SlE16ICgFCLuJqPNfQ/edit?ts=60a58ab9">Contact Form</a>

                </div>

            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">General questions? Feel free to contact us.</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">
                        We are eager to help veterans
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>
                        <a href="tel:5554280940">Call us at 415-500-1756</a>
                    </div>

                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block" href="mailto:info@boots2books.com">info@boots2books.com</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">
                Copyright &copy;
                <!-- This script automatically adds the current year to your website footer-->
                <!-- (credit: https://updateyourfooter.com/)-->
                <script>document.write(new Date().getFullYear());</script>
                - Boots to Books
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>
</html>

